.show {
  display: none;
}
.title{
  cursor: pointer;
}
:root {
  --clr-grey-special: #eae6eb;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --fixed-width: 450px;
}

.container {
  margin: 0 auto;
  background: var(--clr-white);
  border-radius: var(--radius);
  width: 500px;
  padding: 1rem;
}

.question {
  padding: 0rem 1rem;
  border: 2px solid var(--clr-grey-special);
  margin-bottom: 1rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  width: 30rem;
  background: white;
}
body{
  background: purple;
}